<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <nav class="px-4 py-1 h-auto mb-4 w3-full flex flex-wrap md:flex-row flex-col justify-between items-center bg-gray-50">
        <div class="flex items-center md:mx-0 mx-auto"><img class="h-12 w-12 rounded-full bg-blue-200" alt="Use any sample image here..." src="images/sample-image-256px.png"><span class="font-semibold text-xl m-2">Logo</span></div>
        <div class="flex flex-wrap h-full items-center md:mx-0 mx-auto"><a class="p-4" href="#">Link #1</a><a class="p-4" href="#">Link #2</a><a class="p-4" href="#">Link #3</a></div>
        <div class="flex flex-wrap h-full items-center md:mx-0 mx-auto"><button class="px-4 py-2 rounded-md bg-blue-200 hover:bg-blue-300"> Button </button></div>
    </nav>
</body>

</html>