<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BiCaption</title>
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

  <style>
    :root {
      --main-color: #186757;
    }

    .bg-main-color {
      background-color: var(--main-color);
    }

    .text-main-color {
      color: var(--main-color);
    }

    .border-main-color {
      border-color: var(--main-color);
    }


    /* For Modal */
    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    /* The Modal (background) */
    .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      padding-top: 100px;
      /* Location of the box */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
      text-align: center;
      border: 1.5px groove;
      border-radius: 25px;
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      width: 40%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
      from {
        top: -300px;
        opacity: 0
      }

      to {
        top: 0;
        opacity: 1
      }
    }

    @keyframes animatetop {
      from {
        top: -300px;
        opacity: 0
      }

      to {
        top: 0;
        opacity: 1
      }
    }

    /* The Close Button */
    .close {
      color: rgb(19, 18, 18);
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: rgb(140, 82, 247);
      text-decoration: none;
      cursor: pointer;
    }

    .modal-header {
      padding: 2px 16px;
      color: rgb(11, 241, 69);
    }

    .details {
      color: rgb(8, 149, 243);
      font-size: 2.7rem;
    }

    .modal-body {
      padding: 2px 16px;
    }

    .modal-footer {
      padding: 2px 16px;
      color: rgb(4, 136, 37);
    }

    .resmodal {
      z-index: 1;
      display: none;
    }
  </style>

  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>

<body class="bg-gradient-to-r from-blue-100 to-gray-100">
  <!-- navbar goes here -->
  <nav class="py-4 bg-gradient-to-r from-pink-400  via-purple-300 to-blue-400">
    <div class="max-w-6xl mx-auto px-4">
      <div class="flex justify-between">

        <div class="flex space-x-4">
          <!-- logo -->
          <div>
            <a href="/" class="flex items-center py-5 px-2 text-gray-700 hover:text-gray-900">
              <svg class="h-6 w-6 mr-1 text-blue-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
              </svg>
              <span class="font-extrabold text-gray-800">BiCaption</span>
            </a>
          </div>

          <!-- primary nav -->
          <div class="hidden md:flex items-center space-x-1">
            <a href="#"
              class="py-5 px-3 text-white tracking-normal hover:tracking-wide hover:drop-shadow-lg"><strong>Features</strong></a>
            {% if role == 'Photographer' %}
            <a href="/blog/{{id}}"
              class="py-5 px-3 text-white tracking-normal hover:tracking-wide hover:drop-shadow-lg"><strong>Blog</strong></a>
            {% endif %}
          </div>
        </div>

        <!-- secondary nav -->
        <div class="hidden md:flex  items-center space-x-1">

          <nav :class="{'flex': open, 'hidden': !open}"
            class="flex-col flex-grow pb-4 md:pb-0 hidden md:flex md:justify-end md:flex-row">
            <div @click.away="open = false" class="relative" x-data="{ open: false }">
              <button @click="open = !open"
                class="flex flex-row items-center space-x-2 w-full px-3 py-2 mt-2 text-sm font-semibold text-left bg-transparent  md:w-auto md:inline md:mt-0 md:ml-4 focus:outline-none">
                <span style="color: rgb(6, 90, 90); font-size: medium;"><span
                    style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: rgb(9, 171, 192);">Hi</span>
                  {{request.user}}</span>
                <img class="inline ml-3 absolute h-6 w-6 rounded-full absolute border border-blue-500 border-3 
                " style="z-index: 1000;" src="/media/{{ image }}" />
                <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}"
                  class=" inline w-16 h-4 transition-transform duration-200 transform">
                  <path fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
                </svg>
              </button>
              <div x-show="open" x-transition:enter="transition ease-out duration-100"
                x-transition:enter-start="transform opacity-0 scale-95"
                x-transition:enter-end="transform opacity-100 scale-100"
                x-transition:leave="transition ease-in duration-75"
                x-transition:leave-start="transform opacity-100 scale-100"
                x-transition:leave-end="transform opacity-0 scale-95"
                class=" right-0 w-full mt-2 origin-top-right rounded-md shadow-lg md:w-48">
                <div
                  class="absolute py-2 px-8 ml-10  text-blue-800 text-sm rounded-sm border border-main-color shadow-sm">
                  <a class="tracking-normal hover:tracking-wide hover:drop-shadow-lg block px-4 py-2 mt-2 text-sm  md:mt-0 focus:text-gray-900 hover:bg-indigo-100 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                    href="/profile0"
                    style="color: rgb(51, 51, 51); border-bottom: 0.8px solid rgb(156, 156, 156);">Profile</a>
                  <a class="tracking-normal hover:tracking-wide hover:drop-shadow-lg block px-4 py-2 mt-2 text-sm  md:mt-0 focus:text-gray-900 hover:bg-indigo-100 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                    href="/logout">Logout</a>
                </div>
              </div>
          </nav>

        </div>

        <!-- mobile button goes here -->
        <div class="md:hidden flex items-center">
          <button class="mobile-menu-button">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>

      </div>
    </div>

    <!-- mobile menu -->
    <div class="mobile-menu hidden md:hidden">
      <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-200">Features</a>
      <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-200">Pricing</a>
    </div>
  </nav>

  <!-- Alerts -->
  
  {% if messages %}
  {% for message in messages %}
  <div class="flex justify-between text-white shadow-inner rounded p-3 bg-purple-500">
    <p class="self-center"><strong>{{message}}</strong></p>
    <strong class="text-xl align-center cursor-pointer alert-del">&times;</strong>
  </div>
  {% endfor %}
  {% endif %}
  

  <div class="my-3 p-5">
    <div class="md:flex no-wrap md:-mx-2">
      <!-- Left Side -->
      <div class=" w-full md:w-3/12 md:mx-2">
        <!-- Profile Card -->
        <div class="text-center  p-3">
          <div style=" border: 1px groove;
          border-radius:10px;" class="py-4 bg-gradient-to-r from-pink-300 to-blue-400">
            <div class="image overflow-hidden">
              <img class="rounded-full h-48 w-48  mx-auto p-5" src="/media/{{image}}" alt="DP" />
            </div>
            <hr style="width: 80%; margin: auto;">
            <h1 class="pt-2 text-center text-gray-700 font-bold text-2xl leading-8 my-1">
              {{fname}} {{lname}}
            </h1>
            {% if role == 'Photographer' %}
            <h3 class=" text-center text-gray-700 text-lg  my-1">
              {{category}} Photographer
            </h3>
            <!-- Rating -->
            <div class="text-3xl text-yellow-500">{{stars}}</div>
            {% else %}
            <h3 class=" text-center text-gray-700 text-lg  my-1">
              Customer
            </h3>
            {% endif %}


            <div class="inline-flex mx-auto mb-3">
              <a href="{{facebook}}">
                <i style="color:rgb(9, 103, 192); font-size: 1.5rem;" class="fab fa-facebook   py-1 px-2"></i>
              </a>
              <a href="{{instagram}}">
                <i style="color:rgb(236, 58, 162); font-size: 1.5rem;" class="fab fa-instagram py-1 px-1"></i>
              </a>
              <a href="{{tweeter}}">
                <i style="color:rgb(54, 190, 243); font-size: 1.5rem;" class="fab fa-twitter   py-1 px-2"></i>
              </a>
            </div>
          </div>

          <ul style=" border: 1px groove;
                border-radius:10px;"
            class="bg-gradient-to-r from-pink-300 to-blue-400 drop-shadow-2xl text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-3 divide-y rounded shadow-sm">
            <li class="flex items-center py-3">
              <span class="text-white">Member since</span>
              <span class="ml-auto bg-purple-600 p-1 rounded text-white text-sm mr-2">Jan 28, 2022</span>
            </li>

            {% if role == 'Photographer' %}
            <li class="flex items-center py-3">
              <span class="text-white">Status</span>
              {% if status == 'Available' %}
              <span class="ml-auto"><span
                  class="mr-3 bg-green-500 py-2 px-3 rounded text-white text-sm">{{status}}</span>
                {% else %}
                <span class="ml-auto"><span
                    class="mr-3 bg-red-500  py-2 px-3 rounded text-white text-sm">{{status}}</span>
                  {% endif %}
                </span>
            </li>

            <li class="flex py-3">
              <form action="/changeStatus" method="post">{% csrf_token %}
                <span class="text-white">Change status</span>
                <span class="ml-auto">
                  <select name="status" class="bg-purple-600 pt-2 pb-1 px-1 mx-2 rounded text-white text-sm">
                    <option value="Available">Available</option>
                    <option value="Busy">Busy</option>
                  </select>
                </span>
                <button type="submit"
                  class="bg-yellow-500 hover:bg-yellow-600 px-2 py-1 mt-1 ml-2 rounded">Change</button>
              </form>
            </li>


            {% else %}
            <li class="flex items-center py-3">
              <span class="text-white">Rating</span>
              <span class="ml-auto"><span class="py-1 px-3 rounded text-white text-sm">⭐⭐⭐⭐</span></span>
            </li>
            {% endif %}
          </ul>
        </div>
        <!-- End of profile card -->
      </div>

      <!-- Right Side -->
      <div class=" w-full md:w-9/12 mx-2 h-64">

        <div class="shadow-sm rounded-sm  grid grid-cols-2 mt-3">
          <!-- About Section -->
          <div style="border: 1.5px groove;
          border-radius:10px;" class="bg-gradient-to-r from-pink-300 to-blue-400  px-3 pt-5 drop-shadow-2xl mr-3">
            <div class="pb-3 flex items-center space-x-2 font-semibold text-gray-900 leading-8">
              <span clas="text-green-500">
                <svg class="h-8 ml-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                </svg>
              </span>
              <span class="text-3xl tracking-wide text-gray-900">About</span>
            </div>
            <div class="pl-5 text-gray-700 ml-3">
              <div class="text-sm">
                <div class="grid grid-cols-2">
                  <div class="text-white px-4 py-2 font-semibold text-xl">Full Name</div>
                  <div class="text-white text-xl px-4 py-2">{{fname}} {{lname}}</div>
                </div>
                <hr width="90%">
                {% if role == 'Photographer' %}
                <div class="grid grid-cols-2">
                  <div class="text-white px-4 py-2 font-semibold text-xl">Gender</div>
                  <div class="text-white text-xl px-4 py-2">{{gender}}</div>
                </div>
                <hr width="90%">
                {% endif %}
                <div class="grid grid-cols-2">
                  <div class="text-white px-4 py-2 font-semibold text-xl">Contact No.</div>
                  <div class="text-white px-4 text-xl py-2">+91 {{phone}}</div>
                </div>
                <hr width="90%">
                <div class="grid grid-cols-2">
                  <div class="text-white px-4 py-2 font-semibold text-xl">State</div>
                  <div class="text-white px-4 text-xl py-2">{{state}}</div>
                </div>
                <hr width="90%">
                <div class="grid grid-cols-2">
                  <div class="text-white px-4 py-2 font-semibold text-xl">City</div>
                  <div class="text-white px-4 text-xl py-2">{{city}}</div>
                </div>
                <hr width="90%">
                <div class="grid grid-cols-2">
                  <div class="text-white px-4 py-2 font-semibold text-xl">PinCode</div>
                  <div class="text-white px-4 text-xl py-2">{{pin}}</div>
                </div>
                <hr width="90%">
                <div class="grid grid-cols-2">
                  <div class="text-white px-4 py-2 font-semibold text-xl">Email.</div>
                  <div class="px-4 py-2">
                    <a class="text-white text-xl" href="{{email}}">{{email}}</a>
                  </div>
                </div>

              </div>
            </div>
            <a href="/editProfile"><button style="width:83%"
                class="inline-block bg-sky-600 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded ml-11 mt-9 mb-10">Edit
                Profile</button></a>
          </div>

          <!-- Appointments -->
          <div style=" border: 1.5px groove;
          border-radius:10px;" class="bg-gradient-to-r from-pink-300 to-blue-400  p-3 shadow-sm rounded-sm">
            <div class="grid grid-cols-1">
              <div class="">
                <div class="pt-3 flex items-center space-x-2 font-semibold text-gray-900 leading-8 mb-3">
                  <span clas="text-green-500">
                    <svg class="h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                    </svg>
                  </span>
                  <span class="text-2xl tracking-wide text-gray-900">Ongoing/Incoming Appointments</span>
                </div>
                <ul class="tracking-wider py-3 px-5 font-semibold text-lg list-inside space-y-2">
                  {% for appointment in incoming_appointments %}
                  {% if forloop.counter < 4 %} <li>
                    <div style="text-align: center;"
                      class="bg-gradient-to-r from-indigo-300 to-gray-400 pb-3 pt-1  px-4 border border-gray-400 rounded">
                      {% if role == 'Photographer'%}
                      <div class="font-bold text-white">Customer : {{appointment.customer.fname }}
                        {{appointment.customer.lname}}</div>
                      {% else %}
                      <div class="font-bold text-white">Photographer : {{appointment.photographer.fname }}
                        {{appointment.photographer.lname}}</div>
                      {% endif %}
                      <div class="mt-1 pr-3">
                        <button type="button"
                          class="px-3 text-white bg-sky-600 hover:bg-blue-500 rounded">{{appointment.appointment_status}}</button>
                        {% if appointment.appointment_status == 'Incoming' and role == 'Customer' %}
                        <div class="float-right">
                          <form action="/reschedule/0" method="post">{% csrf_token %}
                            <input type="text" name="cust" value="{{appointment.customer.customer_id}}" hidden>
                            <input type="text" name="photo" value="{{appointment.photographer.photographer_id}}" hidden>
                            <select name='action' class="p-1 px-2 text-white bg-purple-600 rounded">
                              <option value="Reschedule">Reschedule</option>
                              <option value="Delete">Delete</option>
                            </select>
                            <button type="submit"
                              class="px-4 text-white bg-yellow-500 hover:bg-yellow-600 rounded">Go</button>
                          </form>
                        </div>
                        {% endif %}
                        <!-- Modal trigger -->
                        <button id="btn{{appointment.customer.customer_id}}{{appointment.photographer.photographer_id}}"
                          onclick="showModal(this.id)" type="button"
                          class="ml-4  px-3 text-white bg-sky-600 hover:bg-blue-500 rounded">Details</button>

                        <!-- The Modal -->
                        <div id="modal{{appointment.customer.customer_id}}{{appointment.photographer.photographer_id}}"
                          class="modal">
                          <div class="modal-content bg-gradient-to-r from-pink-300 to-blue-300">
                            <div class="modal-header pt-3">
                              <i class="fas fa-calendar-check details"></i>
                              <span class="close"
                                id="close{{appointment.customer.customer_id}}{{appointment.photographer.photographer_id}}">&times;</span>
                              <h1 class="text-white"><strong> Appointment Details !</strong></h1>
                            </div>
                            <hr class="mt-2">
                            <div class="py-4 modal-body">
                              {% if role == 'Photographer'%}
                              <p class="text-gray-600"><strong>Your Name</strong> : {{appointment.photographer.fname}}
                                {{appointment.photographer.lname}}</p>
                              <p class="text-gray-600"><strong>Customer id</strong> :
                                {{appointment.customer.customer_id}}</p>
                              <p class="text-gray-600"><strong>Customer contact</strong> :
                                {{appointment.customer.phone}}</p>
                              <p class="text-gray-600"><strong>Customer email</strong> : {{appointment.customer.email}}
                              </p>
                              {% else %}
                              <p class="text-gray-600"><strong>Your Name</strong> : {{appointment.customer.fname}}
                                {{appointment.customer.lname}}</p>
                              <p class="text-gray-600"><strong>Photographer id</strong> :
                                {{appointment.photographer.photographer_id}}</p>
                              <p class="text-gray-600"><strong>Photographer contact</strong> :
                                {{appointment.photographer.phone}}</p>
                              <p class="text-gray-600"><strong>Photographer email</strong> :
                                {{appointment.photographer.email}}</p>
                              {% endif %}

                              <p class="text-gray-600"><strong>Start Date</strong> : {{appointment.start_date}}</p>
                              <p class="text-gray-600"><strong>End Date</strong> : {{appointment.end_date}}</p>

                              {% if role == 'Photographer'%}
                              <center>
                                <strong>
                                  <h3 class="text-gray-600 mt-1">Customer Address</h3>
                                </strong>
                                <hr class="my-1">
                              </center>
                              <div class="grid grid-cols-1">
                                <div class="container">
                                  <p class="text-gray-600"><strong>Area</strong> : {{appointment.area}}</p>
                                </div>
                                <div class="grid grid-cols-3">
                                  <p class="text-gray-600"><strong>Zip</strong> : {{appointment.zip}}</p>
                                  <p class="text-gray-600"><strong>City</strong> : {{appointment.city}}</p>
                                  <p class="text-gray-600"><strong>State</strong> : {{appointment.state}}</p>
                                </div>
                              </div>
                              {% endif %}
                            </div>
                            {% if role == 'Customer' %}
                            <div class="modal-footer py-4">
                              <a href="/location"><button
                                  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-gray-400 rounded shadow">Book
                                  Another Appointment</button></a>
                            </div>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% if length >= 3 %}
                <a href="/pagination1_1_0"><button style="width:92%"
                    class="inline-block bg-sky-600 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded ml-6 my-3">Show
                    More</button></a>
                {% elif length > 0%}
                <button style="width:92%"
                  class="inline-block bg-sky-600 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded ml-6 my-3 opacity-50 cursor-not-allowed">Show
                  More</button>
                {% endif %}
              </div>

            </div>
            <!-- End of Experience and education grid -->
          </div>
          <!-- End of profile tab -->
        </div>
      </div>
    </div>
  </div>

  <!-- Reschedule Appointment form  -->
  <div id="reschedule" class="modal">
    <div class="modal-content bg-gradient-to-r from-pink-300 to-blue-300">
      <div class="modal-header pt-3">
        <i class="fas fa-calendar-check details"></i>
        <span id="closem" class="close">&times;</span>
        <h1 class="text-white text-2xl"><strong> Reschedule Appointment </strong></h1>
      </div>
      <hr class="mt-2">
      <div class="py-4 modal-body">
        <form action="/reschedule/1" method="post">{% csrf_token %}
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="custom block uppercase tracking-wide  text-xs font-bold mb-2" for="sdate">Hours :
              </label>
              <input
                class="appearance-none block w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                type="number" name="hours" placeholder="Choose between 24 to 72"  required>
            </div>
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="custom block uppercase tracking-wide  text-xs font-bold mb-2" for="edate">End Date :
              </label>
              <input
                class="appearance-none block w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                type="datetime-local" name="edate" required>
            </div>
            <input type="text" name="cust" value="{{ckey}}" hidden>
            <input type="text" name="photo" value="{{pkey}}" hidden>
          </div>
          <button type="submit"
            class="px-3 py-2 text-white bg-yellow-500 hover:bg-yellow-600 rounded">Reschedule</button>
        </form>

      </div>
    </div>
  </div>


  <script>

    //For alert :
    var alert_del = document.querySelectorAll('.alert-del');
    alert_del.forEach((x) =>
      x.addEventListener('click', function () {
        x.parentElement.classList.add('hidden');
      })
    );

    //For modal
    function showModal(id) {
      // Get the modal
      var key = id.substring(3)
      console.log(id)
      console.log(key)
      var modal = document.getElementById("modal" + key);

      //When the window loads, open the modal
      modal.style.display = "block"

      // Get the <span> element that closes the modal
      var span = document.getElementById("close" + key);

      // When the user clicks on <span> (x), close the modal
      span.onclick = function () {
        modal.style.display = "none"
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none"
        }
      }
    }

    //For reschedule modal
    var elem = null
    var spanm = null
    if (`{{alert}}` == 'modal') {
      elem = document.getElementById('reschedule')
      elem.style.display = 'block'

      spanm = document.getElementById("closem");
    }

    spanm.onclick = function () {
      elem.style.display = "none"
    }

  </script>

</body>

</html>